body {
    background: rgb(64, 177, 253);
    font: normal 15pt Arial;
    color: white;
}

header {
    text-align: center;
}

section {
    width: 500px;
    padding: 15px;
    background: white;
    border-radius: 20px;
    margin: auto;
    color: black;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.425);
}

footer {
    text-align: center;
    font-style: italic;
}

img {
    height: 400px;
    width: 400px;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

div {
    text-align: center;
    padding: 10px;
}